a {
    text-decoration: inherit;
    color: inherit;
}

body {
    border: 0px;
    margin: 0px;
    background: #375534;
}

html {
    scroll-behavior: smooth;
}

header {
    z-index: 2;
    opacity: 0.6;
    justify-content: center;
    display: flex;
    top: 0px;
    margin: 0px 0px 0px 0px;
    background: #375534;
    position: sticky;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100px;
}

.topo {

    top: 46px;
    margin: 17px;
    display: inline;
    background: #375534;
}

.topo:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.home {
    background-repeat: no-repeat;
    background-color: #93A690;
    display: flex;
    gap: 0px;
    height: 900px;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-image: url(img/fundo\ foto\ 1.png);
}

.corpohome {
    top: 200px;
    max-width: 559px;
    height: 366px;

    margin-right: 400px;
    color: black;
    font-size: 28px;
    position: absolute;
    left: 154px;
}

.botao {
    color: white;
    display: inline-block;
    background: #3D5F3E;
    padding: 15px;
    font-weight: bold;
    min-width: 217px;
}

.botao:hover {
    background: #2E4A2E;
    text-decoration: none;
}

.sobre {
    min-height: 790px;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.corposobre {
    max-width: 576px;
    min-width: 300px;
    font-size: 24px;
    overflow: auto;
}

.as3menores {
    display: flex;
    width: 100%;
    height: 238px;
    overflow: visible;
    gap: 5px;
}

.as3menores img {
    flex: 1;
    height: 100%;
    object-fit: cover;
}

.projetos h1 {
    font-size: 48px;
    color: white;
    max-width: 500px;
    text-align: center;
}

.projetos {
    height: 850px;
    gap: 80px;
    background-color: #779B7F;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    width: 628px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card p {
    width: 240px;
}

.icone {
    vertical-align: middle;
}

.card .botao {
    border-radius: 20px;
    text-align: center;
    width: 100px;
    padding: 10px;
    vertical-align: middle;
}


.negrito {
    font-weight: bold;
}



.SOFTSKILLS {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    gap: 80px;
}

.skills {
    background-color: #F3F3F3;
    border-radius: 20px;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.soft p {
    color: white;
    background-color: #779B7F;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
    margin: 10px;
}

.hardskill p {
    color: white;
    background-color: #779B7F;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
    margin: 5px;
}

.hardskill img {
    height: 150px;
    margin: 10px;
}

.hardskill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#meio {
    position: relative;
    top: 20px;
}

.contato {
    background-repeat: no-repeat;
    background-color: #93A690;
    display: flex;
    gap: 0px;
    height: 760px;
    width: 100%;
    align-items: center;
    background-position: right;
    background-size: cover;
    background-image: url(img/fundo\ foto\ 1.png);
}

.corpocontato {
    width: 559px;
    height: 366px;
    margin-right: 400px;
    color: black;
    font-size: 28px;
    position: absolute;
    left: 154px;
}

.rodape {
    padding-top: 15px;
    align-items: normal;
    background-color: #0D2D1E;
    height: 130px;
    display: flex;
    color: white;
    font-size: 16px;
    gap: 20px;
    width: 100%;
}

.redes {
    margin-left: 50px;
    width: 180px;
}

.infrodape {
    width: 100px;
}

